*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;

    aside{
        width: 20%;
        height: 100vh;
        display: flex;
        flex-flow: column;
        background-color: white;

        .aside-usuario{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 25px;

            .usuario{
                display: flex;
                flex-flow: row;
                align-items: center;
                gap: 15px;

                .foto-usuario{
                    width: 18%;

                    img{
                        width: 100%;
                        border-radius: 50%;
                    }
                }
            }

            .iconos{
                display: flex;
                flex-flow: row;
                gap: 15px;

                i{
                    font-size: 20px;
                    color: #bec0c0;
                    cursor: pointer;
                    transition: 0.3s;
                }
                i:hover{
                    color: #a491d3;
                }
            }
        }
    }

    main{
        width: 80%;
        height: 100vh;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
        background-color: #f8f8f8;
        flex-grow: 1;


        figure{
           padding: 20px;
           display: flex;
           flex-flow: column;
           align-items: center;
           text-align: center;
           

           img{
                width: 50%;
           }
        }

        .caja-main{
            display: flex;
            flex-flow: column;
            justify-content: center;
            max-width: 500px;
            text-align: center;
        }
    }
}