@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}
body aside {
  width: 20%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  background-color: white;
  /* BLOQUE USUARIO */
  /* BLOQUE BOTÓN */
  /* BLOQUE CONTACTOS */
}
body aside .aside-usuario {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
  border-bottom: 2px solid #dddddd;
}
body aside .aside-usuario .usuario {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 25px 0px;
  gap: 15px;
}
body aside .aside-usuario .usuario .foto-usuario {
  width: 20%;
}
body aside .aside-usuario .usuario .foto-usuario img {
  width: 100%;
  border-radius: 50%;
}
body aside .aside-usuario .usuario .nombre-estado .nombre {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
}
body aside .aside-usuario .usuario .nombre-estado .estado {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #bec0c0;
}
body aside .aside-usuario .iconos {
  display: flex;
  flex-flow: row;
  gap: 15px;
}
body aside .aside-usuario .iconos i {
  font-size: 20px;
  color: #bec0c0;
  cursor: pointer;
  transition: 0.3s;
}
body aside .aside-usuario .iconos i:hover {
  color: #a491d3;
}
body aside .aside-boton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0px;
  border-bottom: 1px solid #dddddd;
}
body aside .aside-boton .boton {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  padding: 18px 45px;
  background-color: #a491d3;
  border: 1px solid #b8b8b8;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
body aside .aside-boton .boton:hover {
  background-color: #ffffff;
  border: 1px solid #a491d3;
  color: #a491d3;
}
body aside .aside-contactos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body aside .aside-contactos .contactos {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 15px;
  padding: 10px 25px;
  border-bottom: 1px solid #dddddd;
}
body aside .aside-contactos .contactos .foto-contacto {
  width: 20%;
}
body aside .aside-contactos .contactos .foto-contacto img {
  width: 90%;
  border-radius: 50%;
}
body aside .aside-contactos .contactos .contacto-estado .contacto {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
}
body aside .aside-contactos .contactos .contacto-estado .estado {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  color: #bec0c0;
}
body main {
  width: 80%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  background-color: #f8f8f8;
  flex-grow: 1;
}
body main figure {
  padding: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}
body main figure img {
  width: 50%;
}
body main .caja-main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  max-width: 500px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
}
body main .caja-main p {
  margin-top: 10px;
}/*# sourceMappingURL=styles.css.map */